<!doctype html>
<html lang="en" ng-app="bridgeapp">
	<head>
		<title>Venice Bridges</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAyOAA9mi5u_6cH_5TNoOYFIyPzT3q3mpA&sensor=false"></script>
		<script type='text/javascript' src='js/ck-console.js'></script>
		
		<!-- bootstrap -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
		<script type='text/javascript' src='js/bootstrap.min.js'></script>
		
		<!-- angularjs -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		
		<!-- angular slider -->
		<link rel="stylesheet" type="text/css" href="css/angular-slider.min.css"/>
		<script type='text/javascript' src='js/angular-slider.min.js'></script>
		
		<!-- spinner -->
		<script type='text/javascript' src='js/spin.min.js'></script>
		<script type='text/javascript' src='js/jquery.spin.js'></script>
		
		<!-- local css -->
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		
		<script type='text/javascript'>
			var map;
			var ckConsole = new CKConsole();
			
			$( document ).ready(function() {
				var mapOptions = {
					center: new google.maps.LatLng(45.436 , 12.334),
					zoom: 14,
					panControl: false,
					zoomControl: false,
					streetViewControl: false,
					mapTypeId: google.maps.MapTypeId.ROADMAP,
					styles: [
						{
							"featureType": "poi",
							"elementType": "labels",
							"stylers": [
								{ "visibility": "off" }
							]
						},
						{
							"featureType": "landscape.man_made",
							"elementType": "geometry",
							"stylers": [
								{ "visibility": "off" }
							]
						}
					]
				};
				map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
			});
			
			app = angular.module('bridgeapp', ['uiSlider']);
			app.controller('DataCtrl', ['$scope', function($scope){
				$scope.markers = {};
				$scope.canals = {};
				
				function updateMarkers(){
					for(var id in $scope.canals){
						var canal = $scope.canals[id];
						var marker = $scope.markers[id];
						var data = canal.data.lung;
						if(data>$scope.totalHeight){
							marker.setOptions({fillColor: '#FF0000'});
						}
						else{
							marker.setOptions({fillColor: '#00FF00'});
						}
					}
				}
				$scope.$watch('totalHeight', updateMarkers);
				$scope.$watchCollection('markers', updateMarkers);

				function updateTotal(){
					$scope.totalHeight = $scope.waterHeight*1 + $scope.boatHeight*1;
				}
				
				$scope.$watch('waterHeight', updateTotal);
				$scope.$watch('boatHeight', updateTotal);
				
				$scope.waterHeight = 0;
				$scope.boatHeight = 100;
				
				
				$( document ).ready(function() {
					$('#loadingPanel').css('background-color','rgba(0,0,0,0.5)');
					$('#spinner').spin('large', '#fff');
					ckConsole.getGroup('SegmentMaps', function(group){$scope.$apply(function(){
						for(var id in group.members){
							var member = group.members[id];
							var polygon = CKConsoleUtil.geoJsonToGoogleMaps(member.shape,	{
																								strokeColor: '#000000',
																								strokeOpacity: 0.8,
																								strokeWeight: 1,
																								fillColor: '#FF0000',
																								fillOpacity: 0.35
																							});
							polygon.setMap(map);
							$scope.markers[id] = polygon;
						}
						$scope.canals = group.members;
						
						$('#loadingPanel').hide();
						$('#spinner').spin(false);
					});},
					function(requests, responses){$scope.$apply(function(){
						$scope.numLoadingRequests = requests;
						$scope.numLoadingResponses = responses;
						$scope.loadingProgress = 100*responses/requests;
					});});
				});
			}]);
		</script>
	</head>
	<body ng-controller="DataCtrl">
		<div style="position:absolute;width:100%;height:100%;">
			<div id="map-canvas" style="width:100%;height:100%;"></div>
		</div>
		
		<div style="position:absolute;bottom:0;right:0;background-color:rgba(0,0,0,0.8);padding-left:15px;padding-right:15px;padding-top:10px;width:300px;color:#ffffff;">
			<p><h4>Total Height: {{totalHeight}} cm</h4></p>
			<p><h5 style="margin:0px;">Water Height ({{waterHeight}} cm):</h5><slider floor="-50" ceiling="200" step="1" precision="0" ng-model="waterHeight"></slider></p>
			<p><h5 style="margin:0px;">Boat Height ({{boatHeight}} cm):</h5><slider floor="50" ceiling="400" step="1" precision="0" ng-model="boatHeight"></slider></p>
		</div>
		
		<div style="position:absolute;top:0px;left:0px;width:100%;height:100%;" id="loadingPanel">
			<div style="margin-left:auto;margin-right:auto;text-align:center;margin-top:50px;" id="loadingText"><h3 style="color:white;"><span ng-hide="numLoadingRequests">Loading...</span><span ng-show="numLoadingRequests">Loading {{numLoadingResponses}} of {{numLoadingRequests}}</span></h3></div>
			<div class="progress progress-striped active" style="position:absolute;left:25%;right:25%;" ng-show="loadingProgress">
				<div class="progress-bar" role="progressbar" style="width: {{loadingProgress}}%;-webkit-transition: none;-moz-transition: none;-ms-transition: none;-o-transition: none;transition: none;">
				</div>
			</div>
			<div style="position:absolute;left:50%;top:50%;" id="spinner"/>
		</div>
	</body>
</html>