<!doctype html>
<html lang="en" ng-app="bridgeapp">
  <head>
    <title>Venice Bridges - Venice Project Center</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- META TAGS -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="16x16">
    <link rel="apple-touch-icon" type="image/x-icon" href="/favicon.ico" sizes="180x180">
    <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="/favicon.ico" sizes="180x180">
    <meta name="keywords" content="bridges,venice,project,center,vpc">
    <link rel="canonical" href="https://bridges.veniceprojectcenter.org/">
    <meta name="description" content="This application displays the location of all of the bridges in Venice, as well as their outline and information on a selected bridge.">
    <meta property="og:locale" content="en">
    <meta property="og:url" content="https://bridges.veniceprojectcenter.org/">
    <meta property="og:image" content="https://bridges.veniceprojectcenter.org/ogimage.png">
    <meta property="og:image:alt" content="Venice Bridges - Venice Project Center">
    <meta property="og:fb:pages" content="1374459902807079">
    <meta property="og:fb:app_id" content="279763959442696">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="https://bridges.veniceprojectcenter.org/">
    <meta name="twitter:title" content="Venice Bridges - Venice Project Center">
    <meta name="twitter:description" content="This application displays the location of all of the bridges in Venice, as well as their outline and information on a selected bridge.">
    <meta name="twitter:image" content="https://bridges.veniceprojectcenter.org/ogimage.png">
    <meta name="twitter:image:alt" content="Venice Bridges - Venice Project Center">
    <meta name="authors" content="Venice Project Center">
    <meta name="image" content="https://bridges.veniceprojectcenter.org//ogimage.png"> 

    <!-- FINE META TAGS -->
    
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-app.js"></script>
    <script type='text/javascript' src='https://www.gstatic.com/firebasejs/6.1.1/firebase-database.js'></script>
  
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
      integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
      crossorigin="">
    </script>
    
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
    <script type='text/javascript' src='js/bootstrap.min.js'></script>
    
    <!-- angularjs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    
    <!-- angular slider -->
    <link rel="stylesheet" type="text/css" href="css/angular-slider.min.css"/>
    <script type='text/javascript' src='js/angular-slider.min.js'></script>
    
    <!-- spinner -->
    <script type='text/javascript' src='js/spin.min.js'></script>
    <script type='text/javascript' src='js/jquery.spin.js'></script>
    
    <!-- local css -->
    <link rel="stylesheet" type="text/css" href="css/font.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    
    <!-- console library -->
    <script type='text/javascript' src='js/ck-console.js'></script>
    <script type='text/javascript' src='js/helper.js'></script>
    
    
    <style type="text/css">
      /* fix for slider conflict with bootstrap */
      slider span{
        -webkit-box-sizing: content-box !important;
        -moz-box-sizing: content-box !important;
        box-sizing: content-box !important;
      }
      
      .info {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255,255,255,0.9);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
        width: 320px;
      }
      .info h4 {
        margin: 0 0 5px;
        color: #777;
      }
    </style>
    
    <script type='text/javascript'>
      var map;
      var baseLayer;
      
      $( document ).ready(function() {
        map = L.map("map-canvas", {minZoom: 14}).setView([45.436 , 12.334], 14);
        baseLayer = new L.TileLayer(
          'https://{s}.tiles.mapbox.com/v3/bennlich.map-8ds9rdrc/{z}/{x}/{y}.png',
          { attribution: 'Map tiles © MapBox' }
          ).addTo(map);
        L.control.scale().addTo(map);
      });
      
      app = angular.module('bridgeapp', ['uiSlider', 'ckServices']);
      app.controller('DataCtrl', ['$scope', '$compile', 'ckConsole', 'ckConsoleMap', '$http', function($scope, $compile, ckConsole, ckConsoleMap, $http){
        function updateMarkers(){
          if($scope.bridgeLayer){
            $scope.bridgeLayer.eachMember(function(member, marker){
              if(marker){
                if(member && member.data){
                  var data = member.data["Minimum Height (m)"]*100;
                  if(data>$scope.totalHeight){
                    marker.setStyle({fillColor: '#00FF00',color: '#00FF00'});
                  }
                  else{
                    marker.setStyle({fillColor: '#FF0000',color: '#FF0000'});
                  }
                }
                else
                  marker.setStyle({fillOpacity: 0, weight: 0});
              }
            });
          }
        }
        $scope.$watch('totalHeight', updateMarkers);
        $scope.$watchCollection('bridgeLayer.markers', updateMarkers);

        function updateTotal(){
          $scope.totalHeight = $scope.waterHeight*1 + $scope.boatHeight*1;
        }
        
        $scope.$watch('waterHeight', updateTotal);
        $scope.$watch('boatHeight', updateTotal);
        
        $scope.waterHeight = 60;
        $scope.boatHeight = 100;
        $http.get('https://ckdata.herokuapp.com/realtime/venice_tide')
          .then(function(result) {
            if(result.status == 200){
              $scope.waterHeight = parseFloat(result.data.latest_tide_level);
            }
          });
        
        function createBridgeInfoBox(){
          var info = L.control();
          info.onAdd = function (map) {
            var htmlContent = '<div class="info"><h4>Bridge Information</h4>'+
              '<div ng-show="hoverData.data"><span ng-repeat="(name, value) in hoverData | displayForm:form" style="display:block" ng-show="value"><span style="font-weight:bold;">{{name}}:</span> {{value}}</span></div>'+
              '<div ng-hide="hoverData.data">Hover over a bridge to see more information'+
              '<div><span style="width:40px;height:20px;display:inline-block;vertical-align:middle;background:#00ff00"/><span style="vertical-align:middle;margin-left:2px;">Passable Bridges</span></div>'+
              '<div><span style="width:40px;height:20px;display:inline-block;vertical-align:middle;background:#ff0000"/><span style="vertical-align:middle;margin-left:2px;">Impassable Bridges</span></div>'+
              '</div>'+
              '</div>';
            $scope.compiled = $compile(htmlContent)($scope);
            this._content = $scope.compiled[0];
            return this._content;
          };
          return info;
        }
        
        function createHeightSelectorBox(){
          var info = L.control({position: "bottomright"});
          info.onAdd = function (map) {
            var htmlContent = '<div class="info">'+
              '<p><h4>Total Height: {{totalHeight}} cm</h4></p>'+
              '<p><h5 style="margin:0px;">Water Height ({{waterHeight}} cm):</h5><slider floor="-50" ceiling="200" step="1" precision="0" ng-model="waterHeight"></slider></p>'+
              '<p><h5 style="margin:0px;">Boat Height ({{boatHeight}} cm):</h5><slider floor="50" ceiling="400" step="1" precision="0" ng-model="boatHeight"></slider></p>'+
              '</div>';
            $scope.compiled = $compile(htmlContent)($scope);
            this._content = $scope.compiled[0];
            return this._content;
          };
          return info;
        }
        /* Displays question mark and vpc logo */
        function createBrandBox(){
          var info = L.control({position: "bottomleft"});
          info.onAdd = function (map) {
            var htmlContent = '<div class="info" style="width:auto;">'+
              '<span onclick="showAbout()"><img src="about.png" style="cursor:pointer;padding-right:7px;"></span>'+
              '<a href="https://veniceprojectcenter.org"><img src="vpc25logo.png"></a>'+
              '<ul style="margin-top:5px;margin-bottom:0px;">'+
              '<li><a href="https://canals.veniceprojectcenter.org">Canal Infrastructure App</a></li>'+
              '<li><a href="https://canals.veniceprojectcenter.org/hydro">Canal Hydrodynamics App</a></li>'+
              '<li><a href="https://canals.veniceprojectcenter.org/maintenance">Canal Maintenance App</a></li>'+
              '</ul>'+
              '</div>';
            $scope.compiled = $compile(htmlContent)($scope);
            this._content = $scope.compiled[0];
            return this._content;
          };
          return info;
        }
        
        $scope.showAbout = function (){
          $('#aboutPanel').show();
        }
        $scope.hideAbout = function (){
          $('#aboutPanel').hide();
        }
        
        $( document ).ready(function() {
          createBridgeInfoBox().addTo(map);
          createHeightSelectorBox().addTo(map);
          createBrandBox().addTo(map);
          $('#aboutPanel').hide();

          $('#spinner').spin('large', '#fff');
          
          ckConsole.getForm('9c2102ab-e8e2-e500-b72f-49aeb4f06c1a').then(function(form){
            $scope.form = form;
          });
          ckConsoleMap.createMapLayerFromGroupData(map, ckConsole.getGroup('MERGE Ponti'), function(bridgeLayer){
            bridgeLayer.show();
            bridgeLayer.setStyle({fillColor: '#0000FF',color: '#0000FF',
              fillOpacity: 1.0, weight: 15, opacity: 1.0});
            bridgeLayer.on('mouseover', function(e, data, marker){$scope.$apply(function(){
              $scope.hoverData = data;
            });});
            bridgeLayer.on('mouseout', function(e, data, marker){$scope.$apply(function(){
              if($scope.hoverData == data)
                $scope.hoverData = null;
            });});
            $scope.bridgeLayer = bridgeLayer;
          }).then(function(bridgeLayer){
            $('#loadingPanel').hide();
            $('#spinner').spin(false);
          });
        });
      }]);
    </script>

  <script type="text/javascript">

  /*GOOGLE ANALYTICS*/

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-47662945-1']);
    _gaq.push(['_setDomainName', 'veniceprojectcenter.org']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>


  </head>
  <body ng-controller="DataCtrl">
    <div class="about_modal">
      <span class="close_modal">CLOSE</span>
      <div class="my_container" style="margin: 10px; font-size:18px;">
        <h1 style="">How it works!</h1>
        <div class="image_container">
          <!--img src="/image/guida.png"-->
        </div>
        <!-- link help 
          https://docs.google.com/document/d/12Rz1PjVdPf0_5vqYC-zN1rkWyNSYKaJXbjh04pmhCkM/pub?embedded=true -->
        <h2>Bridges Visualization</h2>
        <p>
          This application displays the location of all of the bridges in Venice, as well as their outline and information on a selected bridge. The map also displays which bridges are passable (green) or impassable (red) for boats of various heights at different sea levels. The sea level on the map defaults to the most recent water height measurement.
        </p>

        <h2>Instructions:</h2>
        <p>
          Click the PLUS/MINUS button in the top left to zoom in or out on a bridge.
          Select WATER HEIGHT to change the water level in the city.
          Choose a BOAT HEIGHT to see whether or not a bridge is passable.
          Hover over a bridge to see detailed information on the bridge.
        </p>

        <p>
          Credits:  
          This visualization was produced in 2013 by the WPI Venice Project Center Canals Team: Mitchell Wills, Dominick Bossalini, Brian Gardner and Tyler Mathews. 
          <br/>

          Bossalini, Dominick, Gardner, Brian, Mathews,Tyler, and Wills, Mitchell. "Canals, Bridges and Urban Maintenance." Worcester Polytechnic Institute, 2013.
        </p>

        <p>
          Data Sources:  The data was produced by multiple studies and measurements of the bridges of Venice by past WPI Venice Project Center teams, as well as by Insula SpA.
        </p>

        <h2>References:</h2>

        <p>
          Bossalini, Dominick, Gardner, Brian, Mathews,Tyler, and Wills, Mitchell. "Canals, Bridges and Urban Maintenance." Worcester Polytechnic Institute, 2013.
        </p>

        <p>
          Finn, Paul, Jesse Ouellette, Katie Hutchinson, and Ryan Muller. "The Building Blocks of Venice: Preserving Knowledge of a City’s Infrastructure and Maintenance ", Worcester Polytechnic Institute, 2011.
        </p>

        <p>
          Thanks:  Past WPI projects and Insula SpA for providing us with data on all of the bridges in Venice.
        </p>
      </div>
    </div>

    <div class="header-vpc dark-mode">
      <span onclick="showAbout()" 
        class="button dark-mode text-header-vpc my_link" 
        style="grid-area: how; margin-left: 15px;">
        How it works
      </span>
      <h1 class="dark-mode text-header-vpc" style="grid-area: title; text-align: center;font-weight: bold; margin: 0;">
        Venice Bridges
      </h1>
      <a class="header-visit-vpc my_link" href="https://veniceprojectcenter.org" target="_blank">
        <span class="text-header-vpc">Visit VPC</span>
      </a>
    </div>

    <div id="map-canvas"></div>      
    <div style="position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:2000;background-color:rgba(0,0,0,0.5);" id="loadingPanel">
      <div style="margin-left:auto;margin-right:auto;text-align:center;margin-top:50px;" id="loadingText"><h3 style="color:white;">Loading...</h3></div>
      <div style="position:absolute;left:50%;top:50%;" id="spinner"></div>
    </div>
  </body>
</html>